body {
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

h1 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 115, 0);
}
